a {
  color: inherit;
  text-decoration: none;
}

.nav {
  background-color: rgb(0, 80, 146);
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: whitesmoke;
  z-index: 1;
  transition-duration: 1s;
}

.nav:hover {
  background-color: rgb(0, 68, 131);
}

.nav-analytics {
  font-size: 16px;
  display: flex;
  justify-content: left;
  width: 33%;
  align-items: center;
}

.nav-user {
  font-size: 16px;
  display: flex;
  justify-content: right;
  width: 33%;
  align-items: center;
}

.nav-logo {
  display: flex;
  justify-content: center;
  width: 34%;
}

.nav-item-large {
  padding-top: 10vh;
  padding-bottom: 10vh;
  padding-right: 1vw;
  padding-left: 1vw;
  transition: 1s;
}
.nav-item-small {
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-right: 1vw;
  padding-left: 1vw;
  transition: 1s;
}

.nav-item-large:hover{
  background-color: rgb(0, 63, 130);
}
.nav-item-small:hover{
  background-color: rgb(0, 63, 130);
}

#logo-large {
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 8vh;
  padding-bottom: 8vh;
  font-size: 45px;
  font-weight: bold;
}

#logo-small {
  padding: 2vh 2vw 2vh 2vw;
  font-size: 18px;
  font-weight: bold;
}